
body{
    font-family: Helvetica;
}
/* main section */
.main-section{
    background-color: #F1F3FF;
    height: 500px;
}
.navbar-nav{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}
.main-seaction-text h1{
    font-size: 36px;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
}
.main-seaction-text p{
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
}

/* service section */
.service-text h4{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}
.service-text p{
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
}
.service-list li{
    list-style: none;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}
.service-list img{
    width: 24px;
    height: 24px;
    margin-left: -40px;
}

/* Why Us Section */
.why-us-title h4{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}
.why-us-title p{
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
}
.card-deck p{
    max-width: 13rem;
    font-size: 14px;
}
.card-text{
    margin-top: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
}
.card img{
    margin-top: 15px;
    margin-left: 15px;
}

/* testimonial section */
.testimonial-title{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}
.testimonial-content{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;

}
.testimonial-carousel{
    background-color: #F1F3FF;;
    width: 560px;
    height: 260px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}
.testimonial-img img{
    width: 80px !important;
    height: 80px !important;
    margin-top: 30px;
}
.testimonial-text {
    max-height: 100px;
    max-width: 415px;
    font-size: 14px ;
    text-align: justify;
    margin-left: -25px;
}
.testimonial-text img {
    width: 80px !important;
    height: 16px !important;
}

/* getting started section */
.bg-banner{             
    background-color:#0D28A6;
    width: 1100px;
    height: 326px;
    border-radius: 13px;
}
.banner-title{
    font-style: normal;
    font-weight: bold;
    line-height: 150%;
    color: #FFFFFF;
}
.banner-text{
    width: 468px;
    height: 40px;
    font-style: normal;
    line-height: 20px;
    color: #FFFFFF;
}
.bg-banner .btn{
    font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 20px;
border-radius: 2px;
}

/* FAQ section */
.FAQ-title h5{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}
.FAQ-title p{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

/* accordion section */
.accordion-item {
    margin-bottom: 16px;
    border: solid 1px #D4D4D4;
    border-radius: 4px;
}
.accordion-button .accordion-body {
    font-weight: 300;
    font-size: 14px;
}

/* footer */
.col li{
    list-style: none;
}
.footer-list{
    margin-left: -40px;
    font-size: 14px;
}